{% extends "base2.html" %}

{% block title %} Employee Attendance {% endblock %}

{% block body_block %}
<div class="hero-unit">


  <h3>  Employee Attendance </h3>


    <table id="myTable" class="table table-hover table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th> SELECT LOCATION * </th>
        <th> SELECT DATE </th>
          
        </tr>
    </thead>
    <tbody>
        
{% for e in attendance_ho %}



<tr> 
 

<td> 
<select class="chosen-select" name="loca" id="loca" style="display: none;">
								<option value="">Select HO | SFF</option>
								
								
									<option value="0">HO</option>

<option value="sp">Special Field</option>
									
							</select>
		
		</td>
<td>
                        	<input type="text" name="to_date" class="form-control" value="11-07-2016" id="dpd2">
                        </td>
						
<td><input type="submit" name="Submit" value="Search" class="btn btn-success"></td>		


 

</tr> 


{% endfor %}

</table>



</div>
{% endblock %}
