{% extends "base.html" %}
 {% load static %}

  
{% block title %}Authorised Strength Report{% endblock %}


{% block content_title %}


<div class="hero-unit">

      {% if authstrength %}
    <h2> Keyword : {{ category }}  </h2>
    
        <div class="row">
                    <div class="col-md-8">
			
                        <table id="myTable" class="table table-hover table-bordered table-striped table-condensed">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Location Name</th>
			<th>Supervisor</th>
			<th>Rate</th>
			<th>Watchman</th>
			<th>Rate</th>
                        <th>Total</th>
			
			
			</tr>
			</thead>
			
			<tbody>
			{% for n in authstrength %}
			<tr>			
			<td>{{ n.id }}</td>
			<td>{{ n.client_name }}</td>
			<td>{{ n.designation }}</td>
			<td>{{ n.rate }}</td>
                        <td>{{ n.noofpersons }}</td>
			<td>{{ n.work_order }}</td>
			<td>{{ n.status }}</td>			
			
			
			
			
			</tr>
			{% endfor %}
			</tbody>
			
			</table>
			
			
					
                    </div>
        </div>
	

	 	

   {% else %}

                    

    <h2> No results for keyword : {{ category }}  </h2>

            {% endif %}




</div>
{% endblock %}
