{% extends "base2.html" %}

{% block title %} Home {% endblock %}

{% block body_block %}
<div class="hero-unit">


			<div class="row">
				<div class="col-md-3 boxemployee">
        <h4> EMPLOYEES </h4>
				</div>
				<div class="col-md-2 boxreg">
        
           <h4> REGISTRATIONS </h4>
				</div>
				<div class="col-md-2 boxtrng">
                   <h4> TRAINING </h4>

				</div>
				<div class="col-md-2 boxemployed">
        
                   <h4> EMPLOYED </h4>

				</div>
				<div class="col-md-3 boxseper">
					<h4> SEPARATION </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 boxcloc">
                   <h4> CLIENTS     -     LOCATIONS </h4>

				</div>
				<div class="col-md-3 boxinv">
                   <h4> INVOICES </h4>

				</div>
				<div class="col-md-3 boxcoll">
        
                   <h4> COLLECTIONS </h4>

				</div>
				<div class="col-md-3 boxdes">
					 <h4> DUES </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 boxvendorpay">
                   <h4> VENDOR PAYMENTS </h4>

				</div>
				<div class="col-md-3 boxsal">
                   <h4> SALARIES </h4>

				</div>
				<div class="col-md-3 boxvendowrks">
                   <h4> VENDORS     -     WORKSHOPS </h4>

				</div>
				<div class="col-md-3 boxdeploy">
                   <h4> DEPLOYMENT </h4>

				</div>
			</div>
			<div class="row">
				<div class="col-md-8 boxevntcal">
                   <h4> Event Calendar </h4>

				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
                     <h4> Notice Board 
 </h4>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12 boxnotb">
                     <h4>  Employee Birthdays  </h4>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 boxempbd">
                   <h4>  Task List  </h4>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 boxtaskl">
                   <h4> 2nd Dress Not Issued List </h4>

				</div>
			</div>


</div>
{% endblock %}