{% extends "base2.html" %}

{% block title %} Leaves Application Approve {% endblock %}

{% block body_block %}
<div class="hero-unit">


  <h3>  Leaves Application Approve </h3>


    <table id="myTable" class="table table-hover table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th> S.NO </th>
        <th> NAME </th>
        <th> DESIGNATION  </th>
		<th> DATES </th>
        <th> LEAVE TYPE </th>
		<th> STATUS </th>
		<th> ACTIONS </th>
      </tr>
    </thead>
    <tbody>
        
{% for e in leaves_application_approval %}



<tr> 
<td> {{forloop.counter}} </td> 
<td> {{ e.name }} </td> 
<td> {{ e.designation}} </td>
<td> {{ e.reason_for }} </td> 
<td> {{ e.status}} </td>
<td> {{ e.from_date }} {{ e.to_date }} </td>
<td> Sorry Date Limit Reached </td> 





       


</tr> 


{% endfor %}

</table>



</div>
{% endblock %}
