     {% extends 'base2.html' %}

    {% load static %}
    {% block title %} Add Location Not Applicable for Incentive {% endblock %}
{% block body_block %}
<link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">



                <div class="row clearfix">
                        <div class="col-md-12 column">
<a href="/location_incentive_setting/" role="button" class="btn btn-warning">Back</a>                                      
         


    <br />


    {% if done %}
        <p> Your Form has been forwaded to the respective authorities. Thank You</p>


        {% else %}
      
            <!-- Display each form here -->


  
<form class="form-horizontal" id="task_form" method="post" action="."
              enctype="multipart/form-data">
	{% csrf_token %}  
	{{location_form.errors}}
								<table class="table table-bordered table-responsive">
																
									<tr>
										<td>Location</td>
										<td> 
                        	
							
							<select  class="chosen-select" name="loca" id="loca" required >
								<option value="">Select Location</option>
	{% for e in loc %}

 <option value={{e.name}}>  {{ e.loc_name}} -{{ e.name}}</option>


       {% endfor %}							
							</select>
							 </td>
									</tr>
									
									<tr>
										<td colspan="2" align="center"><input type="submit" name="Submit" value="Submit" class="btn btn-success"></td>
									</tr>
								</table>
								</form>
                                              
                                              
                         


        {% endif %}
                     
                                </div>
                        </div>
            
{% endblock %}
