{% extends "base.html" %}
 {% load static %}

  
{% block title %}Payment Field Staff{% endblock %}

{% block content_title %}
<div class="hero-unit">
<form id="tfnewsearch" method="get" action="/otallow/">

<select class="chosen-select" name="q" id="pome_emloyees_id" required="">
								<option value="">Select Employees</option>
	{% for e in salaries %}

 <option value="{{ e.pome_emloyees_id_id}}">{{ e.pome_emloyees_id}}</option>


       {% endfor %}							
			
					
							
</select>

<select name="month" id="month"  class="chosen-select" style="width:100px" required="">
								<option value="">Select</option>
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
                                                                <option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
                                                                <option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
                                                                <option value="11">November</option>
								<option value="12">December</option>
							</select>
                        </td>
						<td>
                        	<select name="year" id="year"  class="chosen-select" style="width:100px" required="">
								<option value="">Select</option>
								<option value="2016">2016</option>
                                                                <option value="2015">2015</option>
								<option value="2014">2014</option>
							</select>

<input type="submit" value="search" class="tfbutton">

</div>
    
{% endblock %}
