{% extends "base2.html" %}
 {% load static %}

  
{% block title %}Payment Special Field Staff{% endblock %}

{% block body_block %}
<div class="hero-unit">
<form id="tfnewsearch" method="get" action="/otnot/">

<select class="chosen-select" name="q" id="pome_emloyees_id" required="">
								<option value="">Select Employees</option>
	{% for e in salaries %}

 <option value="{{ e.pome_emloyees_id_id}}">{{ e.pome_emloyees_id}}</option>


       {% endfor %}							
			
					
							
</select>

<select name="month" id="month"  class="chosen-select" style="width:100px" required="">
								<option value="">Select</option>
								<option value="January">January</option>
								<option value="February">February</option>
								<option value="March">March</option>
                                                                <option value="April">April</option>
								<option value="May">May</option>
								<option value="June">June</option>
								<option value="July">July</option>
                                                                <option value="August">August</option>
								<option value="September">September</option>
								<option value="October">October</option>
                                                                <option value="November">November</option>
								<option value="December">December</option>
							</select>
                        </td>
						<td>
                        	<select name="year" id="year"  class="chosen-select" style="width:100px" required="">
								<option value="">Select</option>
								<option value="2016">2016</option>
                                                                <option value="2015">2015</option>
								<option value="2014">2014</option>
							</select>

<input type="submit" value="search" class="tfbutton">


    
{% endblock %}
