     {% extends 'base2.html' %}

    {% load static %}
    {% block title %} Trainer Add {% endblock %}
{% block body_block %}
<link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">



                <div class="row clearfix">
                        <div class="col-md-12 column">
<a href="/task_management/" role="button" class="btn btn-warning">Back</a>                                      
         


    <br />


    {% if done %}
        <p> Your Form has been forwaded to the respective authorities. Thank You</p>


        {% else %}
      
            <!-- Display each form here -->


  
<form class="form-horizontal" id="task_form" method="post" action="."
              enctype="multipart/form-data">
	{% csrf_token %}  
	{{trainer_form.errors}}								<table class="table table-bordered table-responsive">
								
								<tr>
									<td>Trainer Name</td>
									<td><input type="text" name="trainer_name" id="trainer_name" class="form-control"></td>
								</tr>
								<tr>
									<td>Phone No.</td>
									<td><input type="text" name="phone" id="phone" class="form-control"></td>
								</tr>
								
								<tr>
									<td>Location</td>
									<td><input type="text" name="location" id="location" class="form-control"></td>
								</tr>
								
								<tr>
									<td colspan="2" align="center"><input type="submit" name="Submit" value="Submit" class="btn btn-success"></td>
								</tr>
								</table>
												</form>
{% endif %}
                     
                                </div>
                        </div>
            
{% endblock %}
